body {
	min-width: 1200px;
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "Roboto", "Arial", sans-serif;
	line-height: 1.5;
	color: #000000;
	font-weight: normal;
}
h1 {
	font-size: 55px;
	font-family: "Roboto", "Arial", sans-serif;
	line-height: 55px;
	color: #000000;
	font-weight: 500;
}
h2 {
	font-size: 24px;
	font-family: "Roboto", "Arial", sans-serif;
	line-height: 30px;
	color: #000000;
	font-weight: 600;
	text-transform: uppercase;
}
h3 {
	font-size: 16px;
	line-height: 24px;
	font-family: "Roboto", "Arial", sans-serif;
	color: #000000;
	font-weight: 600;
	text-transform: uppercase;
}
.krasnodar {
	font-size: 45px;
	font-family: "Roboto", "Arial", sans-serif;
	line-height: 45px;
	color: #000000;
	font-weight: 500;
}
a,
span {
	display: block;
}
a,
ul,
h1,
h2,
h3,
h4,
p {
	padding: 0;
	margin: 0;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.container {
	width: 1160px;
	margin: 0 auto;
}
.main-header {
	background-color: #eeeeee;
}
.main-title {
	display: none;
}
.nav-catalog {
	position: relative;
}
.logo {
	float: left;
	width: 160px;
	margin-top: 49px;
	margin-right: 201px;
}
a img {
	border: none;
}
a {
	text-decoration: none;
}
.logo a:hover {
	opacity: 0.8;
}
.logo a:active {
	opacity: 0.3;
}
.main-navigation {
	float: left;
	width: 540px;
	margin-top: 75px;
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
}
.main-navigation li {
	display: inline-block;
	vertical-align: top;
	margin-right: 47px;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	line-height: 30px;
	color: #000000;
	font-weight: 500;
	text-transform: uppercase;
}
.main-navigation a,
.basket a {
	display: block;
	text-decoration: none;
	color: #000000;
	padding-bottom: 3px;
}
.main-navigation .current {
	border-bottom: 2px solid #fb565a;
	margin-bottom: -2px;
}
.main-navigation a:hover,
.basket a:hover {
	color: #fb565a;
}
.main-navigation a:active,
.basket a:active {
	color: #000000;
	opacity: 0.3;
	border-bottom: none;
}
.basket {
	float: right;
	max-width: 160px;
	margin-right: 0;
	margin-top: 75px;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	line-height: 30px;
	color: #000000;
	font-weight: 500;
	text-transform: uppercase;
}
.cart {
	position: relative;
	display: inline-block;
	vertical-align: top;
}
.cart::before {
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	top: 7px;
	left: -40px;
	background: url("../img/sprite-icon.png") no-repeat;
	background-position: -5px 0;
}
.slider {
	position: relative;
	margin-bottom: 80px;
	width: 1160px;
	min-height: 424px;
	margin: 0 auto;
	margin-bottom: 80px;
}
.slider input[type=radio] {
	position:absolute;
	opacity: 0;
}
.slide-control {
	position: absolute;
	width: 160px;
	height: 18px;
	right: 535px;
	bottom: 95px;
	left: 50%;
	margin-left: -80px;
	text-align: center;
	z-index: 1000;
}
.slide-control label {
	display: inline-block;
	position: relative;
	width: 8px;
	height: 8px;
	margin: 0 7px;
	background: white;
	border: 5px solid white;
	vertical-align: top;
	border-radius: 50%;
	cursor: pointer;
}
#btn-1:checked ~ .slide-control label[for="btn-1"]::before,
#btn-2:checked ~ .slide-control label[for="btn-2"]::before,
#btn-3:checked ~ .slide-control label[for="btn-3"]::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 4px;
	height: 4px;
	background: #ffffff;
	border-radius: 50%;
	border: 2px solid #c1c1c1;
}
.slides {
	width: 1160px;
	min-height: 424px;
}
.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
}
.slide:nth-child(1) {
	background: url(../img/slider-1.jpg) no-repeat 100% 97%;
}
.slide:nth-child(2) {
	background: url(../img/slider-2.jpg) no-repeat 100% 97%;
}
.slide:nth-child(3) {
	background: url(../img/slider-3.jpg) no-repeat 100% 97%;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
	display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
	display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
	display: block;
}
.slide .slide-text {
	width: 525px;
	padding: 70px 0;
	padding-bottom: 40px;
}
.slide-title {
	margin-bottom: 27px;
	font-size: 55px;
	font-family: "Roboto", sans-serif;
	line-height: 55px;
	color: #000000;
	font-weight: 500;
}
.slide-text p {
	margin-bottom: 39px;
}
.line-break {
	white-space: pre-line;
}
.btn {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
	text-transform: uppercase;
	width: 240px;
	height: 16px;
	background-color: #fb565a;
	text-align:center;
	padding: 17px 0;
	border-radius: 3px;
}
.btn:hover {
	background-color: #e74246;
}
.btn:active {
	box-shadow: inset 0 78px 0 rgba(215,55,59,0.5),
				inset 0 3px 0 0 #c13135;
	color: rgba(255,255,255,0.3);
}
.service {
	margin-top: 80px;
	margin-bottom: 80px;
	font-size: 0;
}
.service-item {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	min-height: 347px;
	margin-right: 100px;
	font-size: 16px;
	line-height: 24px;
}
.service-item:last-child {
	margin-right: 0;
}
.service-item img {
	margin-bottom: 18px;
}
.service-item h2 {
	margin-bottom: 16px;
}
.service-item p {
	margin-bottom: 32px;
	padding-left: 1px;
	padding-right: 45px;
}
.service-item h2 {
	margin-bottom: 16px;
}
.service-btn-red {
	width: 160px;
	background-color: #fb565a;
}
.service-btn-green {
	width: 160px;
	background-color: #00ca74;
}
.service-btn-green:hover {
	background-color: #00bc6c;
}
.service-btn-green:active {
	box-shadow: inset 0 3px 0 0 #009958,
				inset 0 78px 0 rgba(0,170,98,1);
	color: rgba(255,255,255,0.3);
}
.service-btn-yellow {
	width: 160px;
	background-color: #efc84a;
}
.service-btn-yellow:hover {
	background-color: #eab534;
}
.service-btn-yellow:active {
	box-shadow: inset 0 3px 0 0 #ce961f,
				inset 0 78px 0 rgba(229,167,34,1);
	color: rgba(255,255,255,0.3);
}
.studio {
	border-top: 2px solid #eeeeee;
	margin-bottom: 49px;
}
.studio-info {
	float: left;
	margin-top: 75px;
	margin-right: 140px;
	width: 660px;
	padding-bottom: 24px;
}
.studio-info .krasnodar {
	margin-bottom: 31px;
	letter-spacing: 0.1px;
}
.studio-info p {
	margin-bottom: 40px;
}
.studio-info h3 {
	margin-bottom: 24px;
}
.studio-info ul {
	list-style: none;
}
.studio-info li {
	position: relative;
	padding-left: 36px;
	list-style-type: none;
	margin-bottom: 24px;
}
.studio-info li:last-child {
	margin-bottom: 0;
}
.studio-info li::before {
	position: absolute;
	content: "";
	background: #fb565a;
	height: 2px;
	width: 25px;
	top: 11px;
	left: 1px;
}
.studio-features {
	float: right;
	margin-top: 40px;
	width: 360px;
	padding-bottom: 24px;
}
.logo-img {
	margin-bottom: 29px;
}
.studio-features h3 {
	text-align: center;
	margin-bottom: 58px;
	padding-left: 2px;
}
.features-item {
	display: inline-block;
	vertical-align: top;
	width: 104px;
	font-size: 16px;
	line-height: 18px;
	margin-right: 15px;
}
.features-item:last-child {
	margin-right: 0;
}
.features-block {
	font-size: 0;
}
.features-percent {
	font-size: 45px;
	line-height: 10px;
	font-weight: 600;
	margin-bottom: 37px;
}
sup {
	font-size: 26px;
	font-weight: 600;
}
.our-clients {
	height: 180px;
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
	font-size: 0;
	margin-bottom: 80px;
}
.client-item {
	display: inline-block;
	width: 260px;
	height: 183px;
	margin-right: 40px;
	vertical-align: middle;
	position: relative;
}
.client-item:last-child {
	margin-right: 0;
}
.client-item::after {
	position: absolute;
	content: "";
	background: #eeeeee;
	height: 51px;
	width: 2px;
	top: 66px;
	left: 279px;
}
.client-item:last-child::after {
	display: none;
}
.logo-academy {
	background-image: url("../img/logotype-academy-1.png");
	display: block;
	width: 199px;
	height: 68px;
	opacity: 0.2;
	position: absolute;
	margin: auto;
	left: 1px;
	top: 9px;
	bottom: 0;
	right: 0;
}
.logo-academy:hover {
	opacity: 1;
}
.logo-academy:active {
	opacity: 0.1;
}
.logo-barbershop {
	background-image: url("../img/logotype-barbershop-2.png");
	display: block;
	width: 209px;
	height: 87px;
	opacity: 0.2;
	position: absolute;
	margin: auto;
	left: 1px;
	top: -4px;
	bottom: 0;
	right: 0;
}
.logo-barbershop:hover {
	opacity: 1;
}
.logo-barbershop:active {
	opacity: 0.1;
}
.logo-pink {
	background-image: url("../img/logotype-pink-3.png");
	display: block;
	width: 185px;
	height: 52px;
	opacity: 0.2;
	position: absolute;
	margin: auto;
	left: 1px;
	top: -2px;
	bottom: 0;
	right: 0;
}
.logo-pink:hover {
	opacity: 1;
}
.logo-pink:active {
	opacity: 0.1;
}
.logo-mishka {
	background-image: url("../img/logotype-mishka-4.png");
	display: block;
	width: 173px;
	height: 84px;
	opacity: 0.2;
	position: absolute;
	margin: auto;
	left: 1px;
	top: 5px;
	bottom: 0;
	right: 0;
}
.logo-mishka:hover {
	opacity: 1;
}
.logo-mishka:active {
	opacity: 0.1;
}
.client-item img {
	opacity: 0.2;
	position: absolute;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	display: none;
}
.map {
	width: 100%;
	height: 416px;
	margin-bottom: 69px;
	position: relative;
}
.write-us {
	position: absolute;
	top: 54px;
	left: 50%;
	margin-left: -580px;
	background-color: #ffffff;
	width: 229px;
	min-height: 213px;
	padding-top: 49px;
	padding-left: 50px;
	padding-right: 40px;
	padding-bottom: 47px;
}
h2.title {
	font-size: 18px;
	font-family: "Roboto", sans-serif;
	line-height: 30px;
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 23px;
}
.write-us p,
.phone span,
.phone a {
	font-size: 16px;
	line-height: 18px;
	color: #666666;
	font-weight: normal;
}
.write-us p {
	margin-bottom: 18px;
	padding-left: 2px;
}
.phone span {
	float: left;
	margin-right: 4px;
	padding-left: 2px;
}
.phone a {
	float: left;
}
.phone {
	margin-bottom: 37px;
}
.write-us-btn {
	width: 219px;
	color: #ffffff;
}
.main-footer {
	min-height: 118px;
	padding-bottom: 30px;
}
.social-buttons {
	float: left;
	width: 360px;
	height: 78px;
	font-size: 0;
	margin-right: 39px;
	margin-left: 1px;
}
.social-btn {
	display: inline-block;
	vertical-align: middle;
	width: 78px;
	height: 78px;
	border-radius: 50%;
	background-color: #e1e1e1;
	font-size: 16px;
	margin-right: 13px;
	text-indent: -4000px;
	background-image: url("../img/sprite-icon.png");
	background-repeat: no-repeat;
}
.social-btn:last-child {
	margin-right: 0;
}
.social-btn:hover {
	background-color: #e74246;
}
.social-btn:active {
	box-shadow: inset 0 3px 0 0 #c13135,
				inset 0 78px 0 rgba(215,55,59,0.7);
}
.social-btn-vk {
	background-position: 26px -85px;
}
.social-btn-fb {
	background-position: 27px -27px;
}
.social-btn-inst {
	background-position: 26px -142px;
}
.call-to-action {
	float: right;
	width: 760px;
}
.call-to-action .friendship {
	font-size: 36px;
	font-family: "Roboto", sans-serif;
	line-height: 36px;
	color: #000000;
	font-weight: bold;
	margin-top: 6px;
	margin-bottom: 10px;
}
.call-to-action p {
	font-size: 16px;
	line-height: 22px;
	color: #444444;
}
.nav-catalog {
	margin-bottom: 71px;
}
.page-title {
	text-align: center;
	padding-bottom: 108px;
	margin-bottom: 59px;
}
.catalog-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	color: #000000;
}
.sorting h2 {
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	color: #000000;
}
aside {
	float: left;
	width: 260px;
	min-height: 900px;
}
.value {
	margin-top: -4px;
	margin-bottom: 48px;
}
.range-controls {
	position: relative;
	width: 220px;
	height: 41px;
	padding-top: 39px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #eeeeee;
	border-radius: 4px;
	margin-bottom: 15px;
}
.range-controls .scale {
	height: 2px;
	background: #d7dcde;
}
.range-controls .bar {
	width: 70%;
	height: 2px;
	background: #00ca74;
}
.range-controls .range-item {
	position: absolute;
	top: 30px;
	left: 0;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	border: 8px solid #fff;
	background: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	cursor: pointer;
}
.range-controls .range-item-left {
	left: 18px;
}
.range-controls .range-item-right {
	left: 160px;
}
.price-controls {
	font-size: 0;
}
.price-controls label {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	text-transform: uppercase;
	width: 50%;
}
.max-price {
	text-align: right;
}
.price-controls input {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	text-align: center;
	color: #283136;
	width: 61px;
	padding: 10px 9px;
	border: none;
	border-radius: 4px;
	background: #eeeeee;
	margin-left: 9px;
}
.price {
	padding-bottom: 10px;
	margin-bottom: 43px;
}
.layout .catalog-title {
	margin-bottom: 14px;
}
.layout p {
	font-size: 16px;
	line-height: 22px;
	color: #283136;
	margin-bottom: 19px;
}
.layout p:last-child,
.special p:last-child {
	margin-bottom: 0;
}
.layout {
	padding-bottom: 10px;
	margin-bottom: 33px;
}
.name-checkbox span,
.name-radio span {
	display: inline;
}
.name-radio {
	position: relative;
	padding-left: 37px;
	cursor: pointer;
}
.name-radio input[type="radio"] {
	display: none;
}
input[type="radio"] + .radio-indicator {
	position: absolute;
	top: -3px;
	left: 2px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: 3px solid #283136;
	background-color: #ffffff;
	opacity: 0.4;
}
input[type="radio"]:checked + .radio-indicator::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #283136;
}
.name-radio:hover {
	color: #000000;
}
input[type="radio"]:hover + .radio-indicator {
	opacity: 1;
}
input[type="radio"]:disabled + .radio-indicator {
	opacity: 0.1;
}
.special .catalog-title {
	margin-bottom: 15px;
}
.special p {
	font-size: 16px;
	line-height: 22px;
	color: #283136;
	margin-bottom: 18px;
}
.special {
	padding-bottom: 10px;
	margin-bottom: 39px;
}
.name-checkbox {
	position: relative;
	padding-left: 37px;
	cursor: pointer;
}
.name-checkbox input[type="checkbox"] {
	display: none;
}
input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	top: -2px;
	left: 1px;
	width: 18px;
	height: 18px;
	border: 2px solid #4d4d4d;
	background: #ffffff;
	border-radius: 4px;
	opacity: 0.4;
}
input[type="checkbox"]:checked + .checkbox-indicator::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	width: 5px;
	height: 12px;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	background: #4d4d4d;
}
input[type="checkbox"]:checked + .checkbox-indicator::before {
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
input[type="checkbox"]:checked + .checkbox-indicator::after {
	content: "";
	position: absolute;
	top: -2px;
	left: 13px;
	width: 5px;
	height: 20px;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	background: #4d4d4d;
	box-shadow: 0 -12px 0 3px #ffffff;
}
input[type="checkbox"]:checked + .checkbox-indicator::after {
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.name-checkbox:hover {
	color: #000000;
}
input[type="checkbox"]:hover + .checkbox-indicator {
	opacity: 1;
}
input[type="checkbox"]:disabled + .checkbox-indicator {
	opacity: 0.1;
}
input[type="radio"]:disabled ~ .title-radio,
input[type="checkbox"]:disabled ~ .title-checkbox {
	opacity: 0.3;
}
.submit {
	font-size: 16px;
	line-height: 18px;
	font-weight: 600;
	color: #000000;
	text-transform: uppercase;
	width: 260px;
	height: 50px;
	background-color: #eeeeee;
	text-align:center;
	border-radius: 3px;
	border: none;
	vertical-align: middle;
	cursor: pointer;
	padding-left: 6px;
	padding-right: 6px;
}
.submit:hover {
	background-color: #dfdfdf;
}
.submit:active {
	box-shadow: inset 0 3px 0 0#bfbfbf,
				inset 0 50px 0 0 rgba(213,213,213,1);
	outline: none;
	color: rgba(0,0,0,0.3);
}
.submit:focus {
	outline: none;
}
.product {
	float: right;
	width: 760px;
	font-size: 0;
	margin-bottom: 80px;
}
.product-options {
	width: 760px;
	font-size: 0;
	margin-bottom: 55px;
}
.sorting {
	float: left;
	width: 160px;
}
.sorting-option {
	float: right;
	width: 360px;
	font-size: 14px;
}
.name-type {
	float: left;
	width: 275px;
	font-size: 0;
	margin-right: 10px;
}
.name-type li {
	display: inline-block;
	vertical-align: top;
	margin-right: 26px;
}
.name-type li:last-child {
	margin-right: 0;
}
.name-type a {
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
	opacity: 0.4;
	font-weight: 400;
}
.name-type .active {
	opacity: 1;
}
.name-type a:hover {
	opacity: 0.6;
}
.sorting-up-down {
	font-size: 0;
	vertical-align: top;
	float: right;
	max-width: 60px;
}
.sorting-up-down li {
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
}
.sorting-up-down .active {
	opacity: 1;
	text-decoration: none;
	outline: none;
}
.sorting-up {
	font-size: 14px;
	line-height: 1.4;
	color: #000000;
	opacity: 0.2;
	text-decoration: none;
	padding-left: 13px;
}
.sorting-up:hover {
	opacity: 0.4;
}
.sorting-down {
	font-size: 14px;
	line-height: 1.4;
	color: #000000;
	opacity: 0.2;
	text-decoration: none;
	padding-left: 9px;
}
.sorting-down:hover {
	opacity: 0.4;
}
.name-type ul,
.dots ul {
	list-style: none;
}
.card {
	font-size: 0;
	margin-bottom: 27px;
}
.card-item {
	display: inline-block;
	vertical-align: top;
	width: 360px;
	height: 616px;
	font-size: 0;
	margin-right: 40px;
	margin-bottom: 36px;
	position: relative;
	cursor: pointer;
}
.card-item:nth-child(2n) {
	margin-right: 0;
}
.buy-item {
	position: absolute;
	min-height: 231px;
	background: #eeeeee;
	width: 100%;
	bottom: 0;
	font-size: 16px;
	line-height: 18px;
	color: #666666;
	text-align: center;
	display: none;
}
.card-item:hover .dots {
	background-color: #4d4d4d;
}
.card-item:hover .photo-item {
	box-shadow: 0 5px 22px 0 #cccccc;
}
.card-item:hover .buy-item {
	display: block;
}
h3.template {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	font-weight: bold;
	margin-top: 27px;
	margin-bottom: 15px;
}
.template a {
	color: #000000;
	text-decoration: none;
}
.buy-item p {
	white-space: pre-line;
	font-size: 16px;
	line-height: 18px;
	color: #666666;
	margin-bottom: 30px;
}
.btn-card {
	width: 200px;
	background-color: #fb565a;
	margin: auto;
}
.btn-card:hover {
	background-color: #e74246;
}
.btn-card:active {
	box-shadow: inset 0 3px 0 0 #c13135;
	background-color: #d7373b;
	color: #ffffff;
}
.dots {
	width: 360px;
	height: 40px;
	background: #e9e9e9;
	box-sizing: border-box;
	border-radius: 3px;
	font-size: 0;
}
.dots li {
	display: inline-block;
	vertical-align: top;
	width: 14px;
	height: 14px;
	background: #ffffff;
	border-radius: 50%;
	margin-right: 9px;
	margin-top: 13px;
}
.dots ul,
.sorting-up-down ul,
.name-type ul {
	padding: 0;
	margin: 0;
}
.dots li:first-child {
	margin-left: 16px;
}
.pagination {
	font-size: 0;
	margin-bottom: -20px;
}
.pagination a {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	font-weight: 500;
	line-height: 50px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	margin-right: 12px;
	min-height: 50px;
	background-color: #eeeeee;
	padding: 0 20px;
	border-radius: 3px;
}
.pagination a:hover {
	background-color: #dfdfdf;
}
.pagination a:active {
	box-shadow: inset 0 3px 0 0#bfbfbf,
				inset 0 50px 0 0 rgba(213,213,213,1);
	color: rgba(0,0,0,0.3);
}
.pagination .current {
	border: 3px solid #dbdbdb;
	background-color: #ffffff;
	height: 44px;
	min-height: 44px;
	line-height: 44px;
	padding: 0 17px;
}
.pagination .next {
	padding: 0 78px;
}
.modal-content {
	position: absolute;
	bottom: 181px;
	left: 50%;
	margin-left: -480px;
	width: 760px;
	padding: 67px 100px;
	background: #ffffff;
	color: #000000;
	box-shadow: 0 19px 48px 3px #595a5a;
	display: none;
}
.modal-content-show {
	display: block;
	-webkit-animation-name: zoom;
	animation-name: zoom;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
}
@-webkit-keyframes zoom {
	from {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}
	50% {
		opacity: 1;
	}
}
@keyframes zoom {
	from {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}
	50% {
		opacity: 1;
	}
}
.modal-error {
	background: lightyellow;
}
.modal-content-close {
	position: absolute;
	top: 78px;
	right: 91px;
	width: 21px;
	height: 21px;
	font-size: 0;
	border: 0;
	cursor: pointer;
	background-color: transparent;
	background: url(../img/modal-close.png) no-repeat 0 0;
}
.modal-content-close:hover {
	background: url(../img/modal-close.png) no-repeat 0 -23px;
}
.modal-content-close:active {
	background: url(../img/modal-close.png) no-repeat 0 -47px;
	outline: none;
}
.modal-content-close:focus {
	outline: none;
}
.modal-content h2 {
	margin: 0 0 41px -1px;
	font-size: 45px;
	line-height: 45px;
	color: #000000;
	text-transform: none;
}
.main-user-info {
	font-size: 0;
	margin-bottom: 23px;
}
.writeus-form input[type="text"],
.writeus-form input[type="email"] {
	width: 330px;
	margin: 0;
	margin-bottom: 10px;
	padding: 14px 13px;
	font-size: 16px;
	line-height: 18px;
	color: #444444;
	border-radius: 3px;
	border: 2px solid #d7dcde;
}
.writeus-form input[type="text"]:hover,
.writeus-form input[type="email"]:hover,
.writeus-form textarea:hover {
	border-color: #b4b9bb;
}

.writeus-form input[type="text"]:focus,
.writeus-form input[type="email"]:focus,
.writeus-form textarea:focus {
	border-color: #000000;
	outline: none;
}
.writeus-form-error input[type="text"],
.writeus-form-error input[type="email"],
.writeus-form-error textarea[name="text"] {
	border-color: #e74246;
	color: #e74246;
}
.writeus-form .user-info {
	display: inline-block;
	vertical-align: top;
	width: 360px;
	font-size: 16px;
	margin-right: 40px;
}
.writeus-form .user-info:last-of-type {
	margin-right: 0;
}
.user-info .contact-name {
	opacity: 1;
}
.writeus-form label {
	display: block;
	font-size: 16px;
	font-weight: 600;
	line-height: 18px;
	margin-bottom: 9px;
}
.writeus-form textarea {
	font-size: 16px;
	line-height: 18px;
	color: #444444;
	width: 731px;
	padding: 14px 13px;
	min-height: 87px;
	resize: none;
	border-radius: 3px;
	border: 2px solid #d7dcde;
	margin-bottom: 40px;
}
.writeus-form input[type="submit"] {
	display: block;
	font-size: 16px;
	background: #fb565a;
	color: #ffffff;
	font-weight: 500;
	margin-bottom: 17px;
}
.writeus-form input[type="submit"]:hover {
	background-color: #e74246;
}
.writeus-form input[type="submit"]:active {
	box-shadow: inset 0 78px 0 rgba(215,55,59,0.5),
				inset 0 3px 0 0 #c13135;
	color: rgba(255,255,255,0.3);
	outline: none;
}
.writeus-form input[type="submit"]:focus {
	outline: none;
}
.form-list {
	margin: 70px auto;
}
.form-list h2 {
	margin-bottom: 20px;
}
