/*ОБЩИЕ СТИЛИ*/

body {
  margin: 0;
  padding: 0;
  min-width: 1180px;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto Regular","Arial", sans-serif;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

p, h1, h2, h3 {
  margin: 0;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

label {
  display: block;
}

figure {
  margin: 0;
}

.btn {
  padding: 15px 35px;
  border-radius: 3px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  line-height: 18px;
  font-family: "Roboto Medium","Arial", sans-serif;
}

.btn:hover {
  background-color: #e74246;
}

.btn:active {
  background-color: #d7373b;
}


/*ПОДКЛЮЧАЕМ ШРИФТЫ*/

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Roboto Regular";
  src: url("../fonts/roboto.woff") format("woff"),
       url("../fonts/roboto.woff2") format("woff2");
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Roboto Medium";
  src: url("../fonts/robotomedium.woff") format("woff"),
       url("../fonts/robotomedium.woff2") format("woff2");
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Roboto Bold";
  src: url("../fonts/robotobold.woff") format("woff"),
       url("../fonts/robotobold.woff2") format("woff2");
}


/*ШАПКА САЙТА*/

.page-header {
  padding-top: 40px;
  background-color: #eeeeee;
}

.page-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header-logo:hover {
  opacity: 0.8;
}

.page-header-logo:active {
  opacity: 0.3;
}

.page-header-logo {
  opacity: 1;
}

.page-header-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
}

.page-header-list li {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
}

.page-header-item {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-family: "Roboto Medium","Arial", sans-serif;
}

.page-header-list .current-page {
  padding-bottom: 10px;
  border-bottom: 1px solid #fb565a;
}

.page-header-item:hover {
  color: #fb565a;
}

.page-header-item:active {
  color: #000000;
  opacity: 0.3;
}

.page-header-basket {
  position: relative;
}

.page-header-basketLink {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-family: "Roboto Medium","Arial", sans-serif;
}

.page-header-basketLink:hover {
  color: #fb565a;
}

.page-header-basketLink:active {
  color: #000000;
  opacity: 0.3;
}

.page-header-basket::before {
  position: absolute;
  left: -35px;
  top: 6px;
  background: url(../img/cart-icon.png) no-repeat;
  width: 15px;
  height: 15px;
  content: "";
}


/*СЛАЙДЕР*/

.slider-wrapper {
  position: relative;
	width: 1160px;
  height: 420px;
  background-color: #eeeeee;
}

.slider {
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
}

.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
  z-index: 0;
}

.slides-block {
  margin-top: 70px;
}

.slides-title {
  width: 515px;
  margin-bottom: 25px;
  font-size: 55px;
  line-height: 55px;
  font-family: "Roboto Medium","Arial", sans-serif;
}

.slides-info {
  margin-bottom: 40px;
  color: #283136;
}

.slides-btn {
  padding: 15px 40px;
}

.slides-btn:active {
  box-shadow: inset 0px 2px 1px 1px #c13135;
}

.slide1 {
  background: url(../img/slider-1.jpg) 400px 0 no-repeat;
}

.slide2 {
  background: url(../img/slider-2.jpg) 400px 0 no-repeat;
}

.slide3 {
  background: url(../img/slider-3.jpg) 400px 0 no-repeat;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3 {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
  opacity: 1;
	z-index: 1;
}

.slider-wrapper > input {
	display: none;
}

.slider-wrapper .controls {
  position: absolute;
  left: 47%;
  top: 320px;
  z-index: 2;
}

.slider-wrapper label {
  position: relative;
	display: inline-block;
  vertical-align: top;
  width: 15px;
	height: 15px;
	margin-right: 15px;
  background-color: #ffffff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
  cursor: pointer;
}

.slider-wrapper label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3) {
	background: #c1c1c1;
}


/*БЛОК ПРЕИМУЩЕСТВ*/

.advantages {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid #eeeeee;
}

.advantages-wrapper {
  display: flex;
  justify-content: space-between;
}

.advantage-block-img {
  margin-bottom: 25px;
}

.advantages-block-title {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  font-family: "Roboto Bold", "Arial", sans-serif;
}

.advantages-block-info {
  width: 250px;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
  color: #283136
}

.btn-red:active {
  box-shadow: inset 0px 2px 1px 1px #c13135;
}

.btn-green {
  background-color: #00ca74;
}

.btn-green:hover {
  background-color: #00bc6c;
}

.btn-green:active {
  box-shadow: inset 0px 2px 1px 1px #009958;
  background-color: #00aa62;
}

.btn-yellow {
  background-color: #efc84a;
}

.btn-yellow:hover {
  background-color: #eab534;
}

.btn-yellow:active {
  box-shadow: inset 0px 2px 1px 1px #ce961f;
  background-color: #e5a722;
}


/*БЛОК СТУДИЯ*/

.studio {
  padding-top: 40px;
  padding-bottom: 75px;
  border-bottom: 1px solid #eeeeee;
}

.studio-wrapper {
  display: flex;
  justify-content: space-between;
}

.studio-left {
  margin-top: 30px;
  width: 660px;
}

.studio-left-title {
  margin-bottom: 30px;
  color: #000000;
  line-height: 45px;
  font-size: 45px;
  font-family: "Roboto Medium","Arial", sans-serif;
}

.studio-left-info {
  margin-bottom: 42px;
  color: #283136;
}

.studio-left-list-title {
  margin-bottom: 30px;
  color: #000000;
  font-family: "Roboto Medium","Arial", sans-serif;
}

.studio-left-list {
  list-style-type: none;
}

.studio-left-list li {
  position: relative;
  margin-top: 30px;
  color: #283136;
}

.studio-left-list li::before {
  position: absolute;
  left: -40px;
  top: 11px;
  width: 25px;
  border: 1px solid #fb565a;
  content: "";
}

.studio-right img {
  margin-bottom: 30px;
}

.studio-right-title {
  margin-bottom: 45px;
  color: #000000;
  text-transform: uppercase;
  font-family: "Roboto Medium","Arial", sans-serif;
}

.studio-right-block {
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
  width: 100px;
  font-size: 0;
  font-family: "Roboto Medium","Arial", sans-serif;
}

.studio-right-block span {
  color: #000000;
  font-size: 45px;
}

.studio-right-block p {
  margin-top: 20px;
  color: #283136;
  font-size: 16px;
  line-height: 18px;
}


/*БЛОК БРЕНДЫ*/

.brands {
  padding-top: 45px;
  padding-bottom: 45px;
  border-bottom: 1px solid #eeeeee;
}

.brands-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vertical-line {
	position: relative;
	display: inline-block;
  vertical-align: top;
}

.vertical-line:not(:last-child) {
	margin-right: 36px;
}

.vertical-line:not(:first-child)::after {
	content: "";
	position: absolute;
	top: 10px;
	left: -70px;
	display: block;
	width: 0px;
	height: 52px;
	border: 1px solid #eeeeee;
}

.vertical-line:nth-child(3)::after {
	top: -4px;
}

.brands-item {
  opacity: 0.2;
}

.brands-item:hover {
  opacity: 1;
}

.brands-item:active {
  opacity: 0.1;
}


/*БЛОК КАРТА*/

.map-script {
  height: 416px;
  margin: 0 auto;
}

.map {
  position: relative;
  top: 80px;
  width: 100%;
  min-height: 416px;
  margin: 0 auto;
  background: #eeeeee no-repeat url("../img/map.jpg") 50% 50%;
  background-size: cover;
}

.map-block {
  position: absolute;
  top: 55px;
  padding-top: 50px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 50px;
  width: 220px;
  background-color: #ffffff;
}

.map-block-title {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "Roboto Bold", "Arial", sans-serif;
}

.map-block-info {
  width: 210px;
  margin-bottom: 20px;
  color: #666666;
  font-size: 16px;
  line-height: 18px;
}

.map-block-tel {
  margin-bottom: 35px;
  color: #666666;
  font-size: 16px;
  line-height: 18px;
}

.map-btn {
  padding: 15px 40px;
}


/* ФУТЕР */

.bottom-footer {
  padding-top: 150px;
  padding-bottom: 70px;
}

.bottom-footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-left-column {
  width: 300px;
  padding-top: 5px;
}

.footer-right-column {
  width: 800px;
  font-size: 0;
}

.footer-title {
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 36px;
  font-family: "Roboto Bold", "Arial", sans-serif;
}

.footer-info {
  color: #444444;
  font-size: 16px;
  line-height: 22px;
}

.footer-btn {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-decoration: none;
  background-color: #e1e1e1;
  background-image: url("../img/social-sprite.png");
  background-repeat: no-repeat;
}

.footer-btn:hover {
  background-color: #fb565a;
}

.footer-btn:active {
  box-shadow: inset 0 3px 0 0 #b63e42;
  background-color: #d6494d;
}

.footer-btn-vk {
  background-position: -8px -9px;
}

.footer-btn-fb {
  background-position: -112px -10px;
}

.footer-btn-inst {
  background-position: -223px -9px;
}


/*ВЕРСТКА catalog.html*/

.catalog-title {
  padding-top: 75px;
  padding-bottom: 110px;
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  font-family: "Roboto Medium","Arial", sans-serif;
}

.catalog {
  display: flex;
  justify-content: space-between;
  padding-top: 76px;
  padding-bottom: 79px;
}

.main-header.main-catalog {
  padding-bottom: 80px;
}

.main-header-block {
  padding-top: 25px;
}

.main-header .main-header-block {
  margin-bottom: 38px;
}

.main-catalog .main-header-block {
  margin-bottom: 60px;
}

.catalog-left-column {
  width: 260px;
}

.catalog-right-column {
  width: 760px;
}

.catalog-filter-title {
  margin-bottom: 50px;
}

.catalog-grid-title {
  margin-top: 45px;
}

.catalog-features-title {
  margin-top: 45px;
}

.filter-btn {
  margin-top: 40px;
  padding-left: 85px;
  padding-right: 85px;
  border: none;
  outline: none;
  background-color: #eeeeee;
  color: #000000;
  line-height: 18px;
  font-size: 16px;
  font-family: "Roboto Medium","Arial", sans-serif;
  cursor: pointer;
}

.filter-btn:hover {
  background-color: #dfdfdf;
  color: #000000;
}

.filter-btn:active {
  padding-top: 10px;
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #b5b5b5;
  color: #000000;
}


/* ФИЛЬТР ЦЕНЫ */

.catalog-filter-controls {
  position: relative;
  min-height: 2px;
  margin-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 39px;
  padding-bottom: 39px;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.catalog-filter-scale {
  height: 2px;
  background-color: #d7dcde;
}

.catalog-scale-bar {
  width: 80%;
  height: 2px;
  background-color: #00ca74;
}

.catalog-filter-controls .catalog-scale-toggle {
  position: absolute;
  top: 29px;
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  background: #ababab;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.catalog-min-toggle {
  left: 20px;
}

.catalog-max-toggle {
  left: 67%;
}

.catalog-price-controls input {
  width: 60px;
  padding: 8px 10px;
  border: none;
  background: #f1f1f1;
  text-align: center;
  color: #283136;
  outline: none;
  border-radius: 5px;
}

.catalog-controls-left {
  display: inline-block;
  vertical-align: top;
}

.catalog-controls-right {
  display: inline-block;
  vertical-align: top;
}

.catalog-min-price,
.catalog-max-price {
  margin-left: 5px;
}

.catalog .catalog-label {
  position: relative;
  margin-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
}

input[type="checkbox"]:disabled + .catalog-label,
input[type="radio"]:disabled + .catalog-label {
  opacity: 0.3;
}

input[type="radio"] + .catalog-label::before {
  position: absolute;
  top: -3px;
  left: -35px;
  display: inline-block;
  vertical-align: baseline;
  width: 25px;
  height: 25px;
  background-image: url("../img/off-form-icon.png");
  background-repeat: no-repeat;
  opacity: 0.4;
  content: "";
}

input[type="radio"]:checked + .catalog-label::before {
  position: absolute;
  left: -35px;
  display: inline-block;
  vertical-align: baseline;
  width: 25px;
  height: 25px;
  background-image: url("../img/checked-form-icon.png");
  background-repeat: no-repeat;
  content: "";
}

input[type="checkbox"] + .catalog-label::before {
  position: absolute;
  left: -35px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: inherit;
  width: 25px;
  height: 25px;
  background-image: url("../img/off-checkbox-icon.png");
  background-repeat: no-repeat;
  opacity: 0.4;
  content: "";
}

input[type="checkbox"]:checked + .catalog-label::before {
  position: absolute;
  left: -35px;
  display: inline-block;
  vertical-align: baseline;
  width: 25px;
  height: 25px;
  font-size: 28px;
  background-image: url("../img/checkbox-form-icon.png");
  background-repeat: no-repeat;
  opacity: 0.4;
  content: "";
}

.catalog-label {
  color: #283136;
  font-size: 16px;
  line-height: 20px;
}

.catalog-label:hover {
  color: #000000;
}

input[type="checkbox"] + .catalog-label:hover::before,
input[type="radio"] + .catalog-label:hover::before {
  opacity: 1;
}

input[type="radio"]:disabled + .catalog-label,
input[type="checkbox"]:disabled + .catalog-label,
input[type="radio"]:disabled + .catalog-label:hover::before,
input[type="checkbox"]:disabled + .catalog-label:hover::before {
  color: #bcbcbc;
}


/* ПАГИНАЦИЯ */

.catalog-paginator {
  font-size: 0;
}

.catalog-paginator span,
.catalog-paginator a {
  display: inline-block;
  vertical-align: baseline;
  padding: 11px 16px;
  margin-right: 10px;
  border-radius: 4px;
  color: #000000;
  background-color: #f1f1f1;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto Medium","Arial", sans-serif;
}

.catalog-paginator span {
  padding: 8px 13px;
}

a.catalog-paginator-next {
  padding-left: 32px;
  padding-right: 32px;
}

.catalog-paginator a:hover {
  background-color: #dfdfdf;
}

.catalog-paginator a:active {
  box-shadow: inset 0 3px 0 0 #bfbfbf;
  background-color: #d5d5d5;
}

.catalog-paginator .catalog-paginator-active {
  border: 2px solid #f2f2f2;
  background-color: #ffffff;
}


/* БЛОК КАТАЛОГА */

.catalog-sort {
  margin-bottom: 16px;
  font-size: 0;
}

.catalog-sort-title,
.catalog-filter-title {
  color: #000000;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-family: "Roboto Bold","Arial", sans-serif;
}

.catalog-sort-title {
  margin-bottom: 32px;
}

.catalog-sort span,
.catalog-sort a {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 20px;
}

.catalog-sort span {
  margin-right: 245px;
}

.catalog-sort .catalog-option-active {
  opacity: 1;
}

.catalog-sort a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  line-height: 18px;
  font-size: 14px;
  font-family: "Roboto Regular","Arial", sans-serif;
  opacity: 0.3;
}

.catalog-sort a:hover {
  opacity: 0.6;
}

.catalog-sort a:active {
  opacity: 1;
}

.catalog-arrow-block {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-left: 20px;
}

.catalog-arrow-block a {
  margin-right: 15px;
}

a.catalog-arrow-down {
  width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 12px solid #000000;
  opacity: 1;
}

a.catalog-arrow-down:hover {
  opacity: 0.4;
}

a.catalog-arrow-down:active {
  opacity: 1;
}

a.catalog-arrow-up {
  width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 12px solid #000000;
  opacity: 0.2;
}

a.catalog-arrow-up:hover {
  opacity: 0.4;
}

a.catalog-arrow-up:active {
  opacity: 1;
}


/* КАРТИНКИ В КАТАЛОГЕ */

.catalog-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.catalog-item {
  position: relative;
  top: 30px;
  text-decoration: none;
  width: 360px;
  margin-bottom: 75px;
}

.catalog-item:nth-child(2n+1) {
  margin-right: 36px;
}

.catalog-item::after {
  position: absolute;
  top: -25px;
  left: 10px;
  font-size: 45px;
  content: "•••";
  color: #ffffff;
}

.catalog-item::before {
  position: absolute;
  top: -30px;
  width: 360px;
  height: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #f1f1f1;
  content: "";
}

.catalog-item:hover::before {
  position: absolute;
  top: -30px;
  width: 360px;
  height: 30px;
  background: #797979;
  content: "";
}

.catalog-item:hover > .catalog-item-block {
  display: block;
}

.catalog-item-block {
  position: absolute;
	display: none;
	width: 360px;
	bottom:10px;
	padding-top: 26px;
	min-height: 205px;
	font-size: 16px;
	line-height: 18px;
	color: #000000;
	background: #eeeeee;
}

.catalog-item-block:hover {
  box-shadow: 0px 7px 7px 1px rgba(210, 210, 210, 0.8);
}

.catalog-item-title {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 18px;
  font-family: "Roboto Bold","Arial", sans-serif;
}

.catalog-item-info {
  margin-bottom: 16px;
  color: #666666;
  line-height: 18px;
  font-size: 16px;
  width: 200px;
	margin: 0 auto;
	text-align: center;
}

.catalog-item-btn {
  display: inline-block;
	margin-left: 100px;
	margin-top: 30px;
	padding: 16px 60px;
	border-radius: 4px;
  cursor: pointer;
}


/* ВЕРСТКА СКРЫТОЙ ФОРМЫ */

@-webkit-keyframes bounce {
  0% {
      transform: translateX(-2000px);
    }
  70% {
      transform: translateX(30px);
    }
  90% {
      transform: translateX(-10px);
    }
  100% {
      transform: translateX(0);
    }
}

@keyframes bounce {
  0% {
      transform: translateY(-2000px);
    }
  70% {
      transform: translateY(30px);
    }
  90% {
      transform: translateY(-10px);
    }
  100% {
      transform: translateY(0);
    }
}

@-webkit-keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-20px);
    }
    20%,
    40%,
    60%,
    80% {
      transform: translateX(20px);
    }
}

@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-20px);
    }
    20%,
    40%,
    60%,
    80% {
      transform: translateX(20px);
    }
}

.feedback {
  position: fixed;
  display: none;
  width: 760px;
  top: 50%;
  left: 40%;
  margin-top: -205px;
  margin-left: -300px;
  padding-top: 65px;
  padding-left: 60px;
  padding-right: 100px;
  padding-bottom: 70px;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);
  background: #ffffff;
  z-index: 1000;
}

.feedback-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.feedback-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.feedback-title {
  margin-bottom: 40px;
  color: #000000;
  font-size: 45px;
  line-height: 45px;
  font-family: "Roboto Medium","Arial", sans-serif;
}

.feedback label {
  display: block;
  margin-bottom: 10px;
  line-height: 18px;
  font-size: 16px;
  font-family: "Roboto Bold","Arial", sans-serif;
}

.feedback-right-column {
  margin-left: 30px;
}

.feedback-right-column input,
.feedback-left-column input {
  width: 350px;
  border: 2px solid #d7dcde;
  border-radius: 4px;
}

.feedback textarea {
  width: 765px;
  margin-bottom: 45px;
}

.feedback input,
.feedback textarea {
  padding: 10px 15px;
  border: 2px solid #d7dcde;
  border-radius: 4px;
  outline: none;
}

.feedback input:invalid,
.feedback textarea:invalid {
  border: 2px solid #e74246;
}

.feedback textarea {
  padding-bottom: 15px;
}

.feedback input:hover,
.feedback textarea:hover {
  border: 2px solid #b4b9bb;
  border-radius: 4px;
}

.feedback input:focus,
.feedback textarea:focus {
  border: 2px solid #000000;
  border-radius: 4px;
}

::-webkit-input-placeholder {
  color: #444444;
}

::-moz-placeholder {
  color: #444444;
}

/* Firefox 19+ */

:-moz-placeholder {
  color: #444444;
}

/* Firefox 18- */

:-ms-input-placeholder {
  color: #444444;
}

.feedback-user {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.feedback-btn {
  width: 250px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: 0;
  text-transform: uppercase;
  line-height: 18px;
  font-family: "Roboto Medium","Arial", sans-serif;
  cursor: pointer;
}
.feedback-btn:active {
  outline: 0;
}

.feedback-circle-btn {
  position: absolute;
  top: 60px;
  right: 60px;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  opacity: 0.3;
  z-index: 10;
}

.feedback-circle-btn:hover {
  opacity: 1;
}

.feedback-circle-btn:active {
  opacity: 0.1;
}

.feedback-circle-btn::after {
  position: absolute;
  top: 17px;
  left: 8px;
  width: 25px;
  height: 5px;
  transform: rotate(45deg);
  background: #fb565a;
  font-size: 40px;
  font-weight: normal;
  content: "";
}

.feedback-circle-btn::before {
  position: absolute;
  top: 17px;
  left: 8px;
  width: 25px;
  height: 5px;
  transform: rotate(-45deg);
  background: #fb565a;
  font-size: 40px;
  font-weight: normal;
  content: "";
}
